In [202]:
# import packages, including cpi (need to install before importing)
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [203]:
#data_path = os.path.join(os.getcwd(), 'data/')
data_path = '/Users/niharikapatil/Documents/Academics/Fall Semester 2023/DABP/Final Project/data/'

In [204]:
df = pd.read_csv(data_path + 'players.csv')
df

,player_id,name,current_club_id,current_club_name,country_of_citizenship,country_of_birth,city_of_birth,date_of_birth,position,sub_position,...,highest_market_value_in_eur,agent_name,contract_expiration_date,current_club_domestic_competition_id,first_name,last_name,player_code,image_url,last_season,url
0,134354,Ian Raeymaekers,498,Ksc Lokeren,Belgium,Belgium,Aalst,1995-01-30,Attack,Centre-Forward,...,50000.0,NaN,NaN,BE1,Ian,Raeymaekers,ian-raeymaekers,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/ian-raeymaeker...
1,99946,Mohamed Camara,1095,Es Troyes Ac,Guinea,Guinea,Conakry,1990-09-20,Attack,Centre-Forward,...,300000.0,NaN,NaN,FR1,Mohamed,Camara,mohamed-camara,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/mohamed-camara...
2,76948,Pablo Olivera,979,Moreirense Fc,Uruguay,Uruguay,Melo,1987-12-08,Attack,Centre-Forward,...,600000.0,NaN,NaN,PO1,Pablo,Olivera,pablo-olivera,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/pablo-olivera/...
3,108372,Aliosman Aydin,38,Fortuna Dusseldorf,Turkey,Germany,Dormagen,1992-02-06,Attack,Centre-Forward,...,125000.0,NaN,NaN,L1,Aliosman,Aydin,aliosman-aydin,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/aliosman-aydin...
4,78820,Jaime Alfonso Ruiz,354,Kv Mechelen,Colombia,Colombia,Cali,1984-01-03,Attack,Centre-Forward,...,1700000.0,NaN,NaN,BE1,Jaime Alfonso,Ruiz,jaime-alfonso-ruiz,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/jaime-alfonso-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28458,520073,Ruslan Litvinov,232,Spartak Moskau,Russia,Russia,Voronezh,2001-08-18,Defender,Centre-Back,...,2800000.0,prosm,2026-06-30,RU1,Ruslan,Litvinov,ruslan-litvinov,https://img.a.transfermarkt.technology/portrai...,2022,https://www.transfermarkt.co.uk/ruslan-litvino...
28459,238752,Keita Baldé,232,Spartak Moskau,Senegal,Spain,Arbùcies,1995-03-08,Attack,Centre-Forward,...,30000000.0,P&P Sport Management S.A.M.,2025-06-30,RU1,Keita,Baldé,keita-balde,https://img.a.transfermarkt.technology/portrai...,2022,https://www.transfermarkt.co.uk/keita-balde/pr...
28460,464259,Aleksandr Sobolev,232,Spartak Moskau,Russia,Russia,Barnaul,1997-03-07,Attack,Centre-Forward,...,11000000.0,Pavel Andreev,2026-06-30,RU1,Aleksandr,Sobolev,aleksandr-sobolev,https://img.a.transfermarkt.technology/portrai...,2022,https://www.transfermarkt.co.uk/aleksandr-sobo...
28461,185024,Georgiy Dzhikiya,232,Spartak Moskau,Russia,Russia,Moskau,1993-11-21,Defender,Centre-Back,...,10000000.0,Shpinev Vadim,2024-05-31,RU1,Georgiy,Dzhikiya,georgiy-dzhikiya,https://img.a.transfermarkt.technology/portrai...,2022,https://www.transfermarkt.co.uk/georgiy-dzhiki...
28462,4742,Christophe Lepoint,2715,Rfc Seraing,Belgium,Belgium,Brussel,1984-10-24,Midfield,Central Midfield,...,1700000.0,Eleven Plus,2023-06-30,BE1,Christophe,Lepoint,christophe-lepoint,https://img.a.transfermarkt.technology/portrai...,2022,https://www.transfermarkt.co.uk/christophe-lep...

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28463 entries, 0 to 28462
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             28463 non-null  int64
 1   name                                  28463 non-null  object
 2   current_club_id                       28463 non-null  int64
 3   current_club_name                     28463 non-null  object
 4   country_of_citizenship                28462 non-null  object
 5   country_of_birth                      26587 non-null  object
 6   city_of_birth                         26599 non-null  object
 7   date_of_birth                         28428 non-null  object
 8   position                              28463 non-null  object
 9   sub_position                          25025 non-null  object
 10  foot                                  26278 non-null  object
 11  height_in_cm                          28463 non-null  int64
 12  market_value_in_eur                   19505 non-null  float64
 13  highest_market_value_in_eur           27381 non-null  float64
 14  agent_name                            17444 non-null  object
 15  contract_expiration_date              17191 non-null  object
 16  current_club_domestic_competition_id  28463 non-null  object
 17  first_name                            26684 non-null  object
 18  last_name                             28463 non-null  object
 19  player_code                           28463 non-null  object
 20  image_url                             28463 non-null  object
 21  last_season                           28463 non-null  int64
 22  url                                   28463 non-null  object
dtypes: float64(2), int64(4), object(17)
memory usage: 5.0+ MB

In [206]:
columns = ['player_id', 'name', 'current_club_id', 'date_of_birth', 'position', 'market_value_in_eur', 'highest_market_value_in_eur', 'contract_expiration_date', 'last_season']
players_df = df[df['last_season'] == 2022][columns]
players_df

,player_id,name,current_club_id,date_of_birth,position,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,last_season
21943,538810,Chris Ramos,2687,1997-01-18,Attack,1000000.0,1000000.0,2028-06-30,2022
21944,15102,Igor Lebedenko,1186,1983-05-27,Attack,50000.0,2300000.0,2023-06-30,2022
21945,18644,Álvaro Negredo,2687,1985-08-20,Attack,1200000.0,27000000.0,2023-06-30,2022
21946,70114,Anton Zabolotnyi,2410,1991-06-13,Attack,1200000.0,2500000.0,2024-06-30,2022
21947,751084,Matvey Ivakhnov,1124,2003-07-21,Attack,100000.0,100000.0,2023-06-30,2022
...,...,...,...,...,...,...,...,...,...
28458,520073,Ruslan Litvinov,232,2001-08-18,Defender,2800000.0,2800000.0,2026-06-30,2022
28459,238752,Keita Baldé,232,1995-03-08,Attack,2000000.0,30000000.0,2025-06-30,2022
28460,464259,Aleksandr Sobolev,232,1997-03-07,Attack,9000000.0,11000000.0,2026-06-30,2022
28461,185024,Georgiy Dzhikiya,232,1993-11-21,Defender,8000000.0,10000000.0,2024-05-31,2022
28462,4742,Christophe Lepoint,2715,1984-10-24,Midfield,75000.0,1700000.0,2023-06-30,2022

In [207]:
players_df.isnull().sum()

player_id                        0
name                             0
current_club_id                  0
date_of_birth                    2
position                         0
market_value_in_eur             53
highest_market_value_in_eur     51
contract_expiration_date       213
last_season                      0
dtype: int64

In [208]:
players_df.dropna(axis = 0, inplace = True)

In [209]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6258 entries, 21943 to 28462
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    6258 non-null   int64
 1   name                         6258 non-null   object
 2   current_club_id              6258 non-null   int64
 3   date_of_birth                6258 non-null   object
 4   position                     6258 non-null   object
 5   market_value_in_eur          6258 non-null   float64
 6   highest_market_value_in_eur  6258 non-null   float64
 7   contract_expiration_date     6258 non-null   object
 8   last_season                  6258 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 488.9+ KB

In [210]:
#Convert position,country_of_birth, country_of_citizenship and foot to categorical values
players_df['position'] = players_df.position.astype('category')

#Convert date_of_birth to date datatype
players_df['date_of_birth'] = pd.to_datetime(players_df['date_of_birth'])

#Convert date_of_birth to date datatype
players_df['contract_expiration_date'] = pd.to_datetime(players_df['contract_expiration_date'])

In [211]:
players_df['year_of_birth'] = players_df['date_of_birth'].dt.year.astype(int)
players_df['age'] = players_df['last_season'] - players_df['year_of_birth']
players_df

,player_id,name,current_club_id,date_of_birth,position,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,last_season,year_of_birth,age
21943,538810,Chris Ramos,2687,1997-01-18,Attack,1000000.0,1000000.0,2028-06-30,2022,1997,25
21944,15102,Igor Lebedenko,1186,1983-05-27,Attack,50000.0,2300000.0,2023-06-30,2022,1983,39
21945,18644,Álvaro Negredo,2687,1985-08-20,Attack,1200000.0,27000000.0,2023-06-30,2022,1985,37
21946,70114,Anton Zabolotnyi,2410,1991-06-13,Attack,1200000.0,2500000.0,2024-06-30,2022,1991,31
21947,751084,Matvey Ivakhnov,1124,2003-07-21,Attack,100000.0,100000.0,2023-06-30,2022,2003,19
...,...,...,...,...,...,...,...,...,...,...,...
28458,520073,Ruslan Litvinov,232,2001-08-18,Defender,2800000.0,2800000.0,2026-06-30,2022,2001,21
28459,238752,Keita Baldé,232,1995-03-08,Attack,2000000.0,30000000.0,2025-06-30,2022,1995,27
28460,464259,Aleksandr Sobolev,232,1997-03-07,Attack,9000000.0,11000000.0,2026-06-30,2022,1997,25
28461,185024,Georgiy Dzhikiya,232,1993-11-21,Defender,8000000.0,10000000.0,2024-05-31,2022,1993,29
28462,4742,Christophe Lepoint,2715,1984-10-24,Midfield,75000.0,1700000.0,2023-06-30,2022,1984,38

In [212]:
players_df = players_df[players_df['position'] != 'Goalkeeper']
players_df['position'] = players_df['position'].cat.remove_categories('Goalkeeper')
players_df['position'].unique()

/var/folders/f2/0lqqnlss1hb7mfl37dl34wzm0000gn/T/ipykernel_93148/1325657421.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_df['position'] = players_df['position'].cat.remove_categories('Goalkeeper')

['Attack', 'Midfield', 'Defender']
Categories (3, object): ['Attack', 'Defender', 'Midfield']

In [213]:
players_df.describe()

,player_id,current_club_id,market_value_in_eur,highest_market_value_in_eur,last_season,year_of_birth,age
count,5.528000e+03,5528.000000,5.528000e+03,5.528000e+03,5528.0,5528.000000,5528.000000
mean,3.744643e+05,3876.431983,5.659986e+06,9.238193e+06,2022.0,1996.567836,25.432164
std,2.211247e+05,10303.762888,1.166451e+07,1.673710e+07,0.0,4.436892,4.436892
min,3.333000e+03,3.000000,2.500000e+04,2.500000e+04,2022.0,1981.000000,16.000000
25%,1.963255e+05,354.000000,5.000000e+05,7.000000e+05,2022.0,1993.000000,22.000000
50%,3.463025e+05,932.000000,1.500000e+06,2.900000e+06,2022.0,1997.000000,25.000000
75%,5.325060e+05,2687.000000,5.000000e+06,1.000000e+07,2022.0,2000.000000,29.000000
max,1.056907e+06,83678.000000,1.800000e+08,2.000000e+08,2022.0,2006.000000,41.000000

In [214]:
players_df[players_df['position'] == 'Attack'].describe()

,player_id,current_club_id,market_value_in_eur,highest_market_value_in_eur,last_season,year_of_birth,age
count,2.077000e+03,2077.000000,2.077000e+03,2.077000e+03,2077.0,2077.000000,2077.000000
mean,3.875403e+05,3633.266731,6.458281e+06,1.085727e+07,2022.0,1996.861338,25.138662
std,2.256113e+05,9717.418797,1.366043e+07,2.037714e+07,0.0,4.470308,4.470308
min,3.455000e+03,3.000000,2.500000e+04,2.500000e+04,2022.0,1981.000000,16.000000
25%,2.078770e+05,336.000000,5.000000e+05,7.500000e+05,2022.0,1994.000000,22.000000
50%,3.557610e+05,931.000000,1.500000e+06,3.000000e+06,2022.0,1997.000000,25.000000
75%,5.510850e+05,2672.000000,6.000000e+06,1.200000e+07,2022.0,2000.000000,28.000000
max,1.056907e+06,83678.000000,1.800000e+08,2.000000e+08,2022.0,2006.000000,41.000000

In [215]:
players_df[players_df['position'] == 'Defender'].describe()

,player_id,current_club_id,market_value_in_eur,highest_market_value_in_eur,last_season,year_of_birth,age
count,2.125000e+03,2125.000000,2.125000e+03,2.125000e+03,2125.0,2125.000000,2125.000000
mean,3.684107e+05,3927.824000,4.735906e+06,7.499732e+06,2022.0,1996.345412,25.654588
std,2.201519e+05,10414.116524,9.333086e+06,1.257846e+07,0.0,4.411212,4.411212
min,1.153000e+04,3.000000,2.500000e+04,2.500000e+04,2022.0,1983.000000,16.000000
25%,1.879080e+05,354.000000,4.000000e+05,7.000000e+05,2022.0,1993.000000,22.000000
50%,3.437730e+05,940.000000,1.200000e+06,2.500000e+06,2022.0,1997.000000,25.000000
75%,5.178420e+05,2687.000000,4.000000e+06,8.000000e+06,2022.0,2000.000000,29.000000
max,1.044871e+06,83678.000000,7.500000e+07,1.100000e+08,2022.0,2006.000000,39.000000

In [216]:
players_df[players_df['position'] == 'Midfield'].describe()

,player_id,current_club_id,market_value_in_eur,highest_market_value_in_eur,last_season,year_of_birth,age
count,1.326000e+03,1326.000000,1.326000e+03,1.326000e+03,1326.0,1326.000000,1326.000000
mean,3.636838e+05,4174.958522,5.890460e+06,9.488122e+06,2022.0,1996.464555,25.535445
std,2.146501e+05,10994.078003,1.153790e+07,1.597790e+07,0.0,4.403244,4.403244
min,3.333000e+03,3.000000,5.000000e+04,5.000000e+04,2022.0,1983.000000,16.000000
25%,1.934960e+05,366.250000,5.000000e+05,7.000000e+05,2022.0,1993.000000,22.000000
50%,3.424385e+05,968.000000,1.500000e+06,3.000000e+06,2022.0,1997.000000,25.000000
75%,5.130015e+05,2727.000000,5.500000e+06,1.000000e+07,2022.0,2000.000000,29.000000
max,1.050249e+06,83678.000000,1.100000e+08,1.100000e+08,2022.0,2006.000000,39.000000

In [217]:
players_df.groupby('current_club_id')['player_id'].nunique()

current_club_id
3        29
5        27
11       21
12       25
13       20
         ..
55686    19
60551    25
60949    15
61825    15
83678    15
Name: player_id, Length: 241, dtype: int64

In [218]:
#barcelona players
players_df[players_df['current_club_id'] == 131]

,player_id,name,current_club_id,date_of_birth,position,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,last_season,year_of_birth,age
25855,38253,Robert Lewandowski,131,1988-08-21,Attack,45000000.0,90000000.0,2026-06-30,2022,1988,34
25990,288230,Ousmane Dembélé,131,1997-05-15,Attack,60000000.0,120000000.0,2024-06-30,2022,1997,25
25991,398184,Ferran Torres,131,2000-02-29,Attack,35000000.0,50000000.0,2027-06-30,2022,2000,22
25992,466810,Ansu Fati,131,2002-10-31,Attack,50000000.0,80000000.0,2027-06-30,2022,2002,20
25993,720038,Pablo Torre,131,2003-04-03,Midfield,3000000.0,3000000.0,2026-06-30,2022,2003,19
25994,294808,Franck Kessié,131,1996-12-19,Midfield,35000000.0,55000000.0,2026-06-30,2022,1996,26
25996,326330,Frenkie de Jong,131,1997-05-12,Midfield,50000000.0,90000000.0,2026-06-30,2022,1997,25
25997,646740,Gavi,131,2004-08-05,Midfield,90000000.0,90000000.0,2026-06-30,2022,2004,18
25998,65230,Sergio Busquets,131,1988-07-16,Midfield,5000000.0,80000000.0,2023-06-30,2022,1988,34
26000,69751,Jordi Alba,131,1989-03-21,Defender,5000000.0,70000000.0,2024-06-30,2022,1989,33
26001,112515,Marcos Alonso,131,1990-12-28,Defender,9000000.0,45000000.0,2024-06-30,2022,1990,32
26002,636688,Alejandro Balde,131,2003-10-18,Defender,15000000.0,15000000.0,2024-06-30,2022,2003,19
26004,196948,Andreas Christensen,131,1996-04-10,Defender,30000000.0,40000000.0,2026-06-30,2022,1996,26
26005,683840,Pedri,131,2002-11-25,Midfield,100000000.0,100000000.0,2026-06-30,2022,2002,20
26006,480267,Ronald Araújo,131,1999-03-07,Defender,60000000.0,60000000.0,2026-06-30,2022,1999,23
26016,85370,Sergi Roberto,131,1992-02-07,Defender,6000000.0,60000000.0,2023-06-30,2022,1992,30
26017,411295,Raphinha,131,1996-12-14,Attack,50000000.0,50000000.0,2027-06-30,2022,1996,26
26022,411975,Jules Kounde,131,1998-11-12,Defender,60000000.0,60000000.0,2027-06-30,2022,1998,24
26049,466794,Eric García,131,2001-01-09,Defender,18000000.0,20000000.0,2026-06-30,2022,2001,21

In [219]:
games_df = pd.read_csv(data_path + 'appearances.csv')
games_df

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2483937_52453,2483937,52453,28095,28095,2014-08-08,Haris Handzic,RU1,0,0,0,0,90
1,2479929_67064,2479929,67064,28095,4128,2014-08-03,Felicio Brown Forbes,RU1,0,0,0,0,90
2,2483937_67064,2483937,67064,28095,4128,2014-08-08,Felicio Brown Forbes,RU1,0,0,0,0,90
3,2484582_67064,2484582,67064,28095,4128,2014-08-13,Felicio Brown Forbes,RU1,0,0,0,0,55
4,2485965_67064,2485965,67064,28095,4128,2014-08-16,Felicio Brown Forbes,RU1,0,0,0,0,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140601,3851247_4742,3851247,4742,2715,2715,2023-01-22,Christophe Lepoint,BE1,0,0,0,0,90
1140602,3851157_4742,3851157,4742,2715,2715,2023-01-29,Christophe Lepoint,BE1,0,0,0,0,90
1140603,3851103_4742,3851103,4742,2715,2715,2023-02-04,Christophe Lepoint,BE1,0,0,1,0,90
1140604,3851180_4742,3851180,4742,2715,2715,2023-02-11,Christophe Lepoint,BE1,0,0,0,0,90
1140605,3851212_4742,3851212,4742,2715,2715,2023-02-18,Christophe Lepoint,BE1,1,0,0,1,90

In [220]:
games_df.drop(columns=['player_name'], inplace=True)
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140606 entries, 0 to 1140605
Data columns (total 12 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1140606 non-null  object
 1   game_id                 1140606 non-null  int64
 2   player_id               1140606 non-null  int64
 3   player_club_id          1140606 non-null  int64
 4   player_current_club_id  1140606 non-null  int64
 5   date                    1128699 non-null  object
 6   competition_id          1140606 non-null  object
 7   yellow_cards            1140606 non-null  int64
 8   red_cards               1140606 non-null  int64
 9   goals                   1140606 non-null  int64
 10  assists                 1140606 non-null  int64
 11  minutes_played          1140606 non-null  int64
dtypes: int64(9), object(3)
memory usage: 104.4+ MB

In [221]:
games_df.isnull().sum()

appearance_id                 0
game_id                       0
player_id                     0
player_club_id                0
player_current_club_id        0
date                      11907
competition_id                0
yellow_cards                  0
red_cards                     0
goals                         0
assists                       0
minutes_played                0
dtype: int64

In [222]:
games_df.dropna(axis = 0, inplace=True)

In [223]:
#Convert date_of_birth to date datatype
games_df['date'] = pd.to_datetime(games_df['date'])
games_df['year'] = games_df['date'].dt.year.astype(int)
games_df

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,competition_id,yellow_cards,red_cards,goals,assists,minutes_played,year
0,2483937_52453,2483937,52453,28095,28095,2014-08-08,RU1,0,0,0,0,90,2014
1,2479929_67064,2479929,67064,28095,4128,2014-08-03,RU1,0,0,0,0,90,2014
2,2483937_67064,2483937,67064,28095,4128,2014-08-08,RU1,0,0,0,0,90,2014
3,2484582_67064,2484582,67064,28095,4128,2014-08-13,RU1,0,0,0,0,55,2014
4,2485965_67064,2485965,67064,28095,4128,2014-08-16,RU1,0,0,0,0,90,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140601,3851247_4742,3851247,4742,2715,2715,2023-01-22,BE1,0,0,0,0,90,2023
1140602,3851157_4742,3851157,4742,2715,2715,2023-01-29,BE1,0,0,0,0,90,2023
1140603,3851103_4742,3851103,4742,2715,2715,2023-02-04,BE1,0,0,1,0,90,2023
1140604,3851180_4742,3851180,4742,2715,2715,2023-02-11,BE1,0,0,0,0,90,2023
1140605,3851212_4742,3851212,4742,2715,2715,2023-02-18,BE1,1,0,0,1,90,2023

In [224]:
players_years = games_df.groupby('player_id')['year'].nunique()
players_years.describe()

count    18994.000000
mean         3.758924
std          2.585831
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max         10.000000
Name: year, dtype: float64

In [225]:
games_2022 = games_df[games_df['year'] == 2022]

same_club_mask = games_2022['player_club_id'] == games_2022['player_current_club_id']

games_cur_club = games_2022[same_club_mask]

# Group by player_id and calculate the sum for each of the specified columns
player_stats_cur_club = games_cur_club.groupby('player_id')['goals', 'yellow_cards', 'red_cards', 'minutes_played', 'assists'].sum().reset_index()

# Rename columns for clarity if needed
player_stats_cur_club.rename(columns={'goals': 'total_goals_cur_club', 
                             'yellow_cards': 'total_yellow_cards_cur_club', 
                             'red_cards': 'total_red_cards_cur_club', 
                             'minutes_played': 'total_minutes_played_cur_club',
                             'assists': 'total_assists_cur_club'}, inplace=True)

player_stats_cur_club

/var/folders/f2/0lqqnlss1hb7mfl37dl34wzm0000gn/T/ipykernel_93148/295269835.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  player_stats_cur_club = games_cur_club.groupby('player_id')['goals', 'yellow_cards', 'red_cards', 'minutes_played', 'assists'].sum().reset_index()

,player_id,total_goals_cur_club,total_yellow_cards_cur_club,total_red_cards_cur_club,total_minutes_played_cur_club,total_assists_cur_club
0,3333,0,1,0,1212,2
1,3455,1,1,0,303,1
2,4188,1,3,0,210,0
3,4311,0,0,0,450,0
4,4742,0,1,0,728,0
...,...,...,...,...,...,...
6706,1045972,0,2,0,364,2
6707,1050249,0,0,0,137,0
6708,1050852,0,0,0,45,0
6709,1056907,0,1,0,93,0
6710,1059630,0,0,0,112,0

In [226]:
def calculate_performance_score(row):
    row['min_per_game'] = row['minutes_played']/row['games_played']
    if row['position'] == 'Attack':
        return ((row['goals'] * 0.3) + (row['assists'] * 0.25) -
                (row['yellow_cards'] * 0.05) - (row['red_cards'] * 0.1) +
                (row['minutes_played'] * 0.1) + (row['games_played'] * 0.1) +
                (row['min_per_game'] * 0.1))
    elif row['position'] == 'Midfield':
        return ((row['goals'] * 0.15) + (row['assists'] * 0.25) -
                (row['yellow_cards'] * 0.15) - (row['red_cards'] * 0.15) +
                (row['minutes_played'] * 0.1) + (row['games_played'] * 0.1) +
                (row['min_per_game'] * 0.1))
    elif row['position'] == 'Defender':
        return ((row['goals'] * 0.05) + (row['assists'] * 0.1) -
                (row['yellow_cards'] * 0.25) - (row['red_cards'] * 0.3) +
                (row['minutes_played'] * 0.1) + (row['games_played'] * 0.1) +
                (row['min_per_game'] * 0.1))
    else:
        return None

In [227]:
#short term
games_career = games_df
# Group by player_id and calculate the sum for each of the specified columns
player_stats_career = games_career.groupby('player_id')['goals', 'yellow_cards', 'red_cards', 'minutes_played', 'assists'].sum().reset_index()

games_played_career = games_career.groupby('player_id')['appearance_id'].count()

player_stats_career = pd.merge(player_stats_career, games_played_career, on = 'player_id', how = 'inner')

player_stats_career = pd.merge(player_stats_career, players_df[['player_id', 'position']], how = 'inner')
player_stats_career.rename(columns={'appearance_id':'games_played'}, inplace = True)


player_stats_career['performance_career'] = player_stats_career.apply(calculate_performance_score, axis=1)

# Rename columns for clarity if needed
player_stats_career.rename(columns={'goals': 'total_goals', 
                             'yellow_cards': 'total_yellow_cards', 
                             'red_cards': 'total_red_cards', 
                             'minutes_played': 'total_minutes_played',
                             'assists': 'total_assists',
                             'games_played': 'total_games_played'}, inplace=True)

player_stats_career

/var/folders/f2/0lqqnlss1hb7mfl37dl34wzm0000gn/T/ipykernel_93148/294755255.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  player_stats_career = games_career.groupby('player_id')['goals', 'yellow_cards', 'red_cards', 'minutes_played', 'assists'].sum().reset_index()

,player_id,total_goals,total_yellow_cards,total_red_cards,total_minutes_played,total_assists,total_games_played,position,performance_career
0,3333,32,54,0,20004,51,342,Midfield,2049.899123
1,3455,126,25,2,14276,43,194,Attack,1501.458763
2,4742,17,26,1,11481,14,164,Midfield,1173.500610
3,5336,8,31,0,14582,5,193,Midfield,1482.855440
4,7161,49,9,0,15219,50,228,Attack,1578.125000
...,...,...,...,...,...,...,...,...,...
5345,1043471,0,0,0,12,0,3,Defender,1.900000
5346,1045568,1,2,0,68,0,4,Attack,9.100000
5347,1046796,0,0,0,45,0,1,Attack,9.100000
5348,1050249,0,0,0,137,0,4,Midfield,17.525000
5349,1056907,0,1,0,93,0,4,Attack,11.975000

In [228]:
#short term
games_2022_21 = games_df[ (games_df['year'] == 2021) | (games_df['year'] == 2022) ]
# Group by player_id and calculate the sum for each of the specified columns
player_stats_2022_21 = games_2022_21.groupby('player_id')['goals', 'yellow_cards', 'red_cards', 'minutes_played', 'assists'].sum().reset_index()

games_played_2022_21 = games_2022_21.groupby('player_id')['appearance_id'].count()

player_stats_2022_21 = pd.merge(player_stats_2022_21, games_played_2022_21, on = 'player_id', how = 'inner')

player_stats_2022_21 = pd.merge(player_stats_2022_21, players_df[['player_id', 'position']], how = 'inner')
player_stats_2022_21.rename(columns={'appearance_id':'games_played'}, inplace = True)


player_stats_2022_21['performance_2022'] = player_stats_2022_21.apply(calculate_performance_score, axis=1)

# Rename columns for clarity if needed
player_stats_2022_21.rename(columns={'goals': 'total_goals_2022', 
                             'yellow_cards': 'total_yellow_cards_2022', 
                             'red_cards': 'total_red_cards_2022', 
                             'minutes_played': 'total_minutes_played_2022',
                             'assists': 'total_assists_2022',
                             'games_played': 'games_played_2022'}, inplace=True)

player_stats_2022_21

/var/folders/f2/0lqqnlss1hb7mfl37dl34wzm0000gn/T/ipykernel_93148/3839391975.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  player_stats_2022_21 = games_2022_21.groupby('player_id')['goals', 'yellow_cards', 'red_cards', 'minutes_played', 'assists'].sum().reset_index()

,player_id,total_goals_2022,total_yellow_cards_2022,total_red_cards_2022,total_minutes_played_2022,total_assists_2022,games_played_2022,position,performance_2022
0,3333,0,8,0,2864,4,76,Midfield,297.568421
1,3455,14,6,1,2310,4,44,Attack,245.450000
2,4742,1,3,0,1469,0,21,Midfield,155.695238
3,5336,3,10,0,4233,2,52,Midfield,436.090385
4,7161,23,2,0,5017,20,64,Attack,527.739062
...,...,...,...,...,...,...,...,...,...
5171,1043003,0,1,0,54,0,3,Defender,7.250000
5172,1043471,0,0,0,12,0,3,Defender,1.900000
5173,1045568,1,2,0,68,0,4,Attack,9.100000
5174,1050249,0,0,0,137,0,4,Midfield,17.525000
5175,1056907,0,1,0,93,0,4,Attack,11.975000

In [229]:
#features for declining/improving performance, 

#short term
games_2020_19 = games_df[games_df['year'] == 2021]
# Group by player_id and calculate the sum for each of the specified columns
player_stats_2020_19 = games_2020_19.groupby('player_id')['goals', 'yellow_cards', 'red_cards', 'minutes_played', 'assists'].sum().reset_index()

games_played_2020_19 = games_2020_19.groupby('player_id')['appearance_id'].count()

player_stats_2020_19 = pd.merge(player_stats_2020_19, games_played_2020_19, on = 'player_id', how = 'inner')

player_stats_2020_19 = pd.merge(player_stats_2020_19, players_df[['player_id', 'position']], how = 'inner')
player_stats_2020_19.rename(columns={'appearance_id':'games_played'}, inplace = True)


player_stats_2020_19['performance_2020'] = player_stats_2020_19.apply(calculate_performance_score, axis=1)

# Rename columns for clarity if needed
player_stats_2020_19.rename(columns={'goals': 'total_goals_2020', 
                             'yellow_cards': 'total_yellow_cards_2020', 
                             'red_cards': 'total_red_cards_2020', 
                             'minutes_played': 'total_minutes_played_2020',
                             'assists': 'total_assists_2020',
                             'games_played': 'games_played_2020'}, inplace=True)

player_stats_2020_19

/var/folders/f2/0lqqnlss1hb7mfl37dl34wzm0000gn/T/ipykernel_93148/119346663.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  player_stats_2020_19 = games_2020_19.groupby('player_id')['goals', 'yellow_cards', 'red_cards', 'minutes_played', 'assists'].sum().reset_index()

,player_id,total_goals_2020,total_yellow_cards_2020,total_red_cards_2020,total_minutes_played_2020,total_assists_2020,games_played_2020,position,performance_2020
0,3333,0,7,0,1652,2,37,Midfield,172.814865
1,3455,13,5,1,2007,3,32,Attack,214.471875
2,4742,1,2,0,741,0,12,Midfield,81.325000
3,5336,0,6,0,2166,0,27,Midfield,226.422222
4,7161,11,1,0,2764,8,37,Attack,292.820270
...,...,...,...,...,...,...,...,...,...
3831,889438,0,0,0,15,0,1,Defender,3.100000
3832,891379,0,0,0,27,1,2,Attack,4.500000
3833,892054,2,0,0,309,1,7,Midfield,36.564286
3834,917120,0,1,0,74,0,4,Defender,9.400000
3835,919173,0,0,0,3,0,1,Defender,0.700000

In [230]:
player_stats_4_years = pd.merge(player_stats_2022_21, player_stats_2020_19.drop('position', axis = 1), on = 'player_id', how='inner')
player_stats_4_years

,player_id,total_goals_2022,total_yellow_cards_2022,total_red_cards_2022,total_minutes_played_2022,total_assists_2022,games_played_2022,position,performance_2022,total_goals_2020,total_yellow_cards_2020,total_red_cards_2020,total_minutes_played_2020,total_assists_2020,games_played_2020,performance_2020
0,3333,0,8,0,2864,4,76,Midfield,297.568421,0,7,0,1652,2,37,172.814865
1,3455,14,6,1,2310,4,44,Attack,245.450000,13,5,1,2007,3,32,214.471875
2,4742,1,3,0,1469,0,21,Midfield,155.695238,1,2,0,741,0,12,81.325000
3,5336,3,10,0,4233,2,52,Midfield,436.090385,0,6,0,2166,0,27,226.422222
4,7161,23,2,0,5017,20,64,Attack,527.739062,11,1,0,2764,8,37,292.820270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3831,889438,0,0,0,40,0,3,Defender,5.633333,0,0,0,15,0,1,3.100000
3832,891379,0,1,0,121,1,8,Attack,14.612500,0,0,0,27,1,2,4.500000
3833,892054,2,0,0,312,2,9,Midfield,36.366667,2,0,0,309,1,7,36.564286
3834,917120,0,1,0,74,0,4,Defender,9.400000,0,1,0,74,0,4,9.400000
3835,919173,0,1,0,135,0,4,Defender,17.025000,0,0,0,3,0,1,0.700000

In [231]:
#player_stats_2_years['improved_performance'] = if performance_2022 > performance_2021 then 1 else 0
player_stats_4_years['improved_performance'] = np.where(player_stats_4_years['performance_2022'] > player_stats_4_years['performance_2020'], 1, 0)
player_stats_4_years

,player_id,total_goals_2022,total_yellow_cards_2022,total_red_cards_2022,total_minutes_played_2022,total_assists_2022,games_played_2022,position,performance_2022,total_goals_2020,total_yellow_cards_2020,total_red_cards_2020,total_minutes_played_2020,total_assists_2020,games_played_2020,performance_2020,improved_performance
0,3333,0,8,0,2864,4,76,Midfield,297.568421,0,7,0,1652,2,37,172.814865,1
1,3455,14,6,1,2310,4,44,Attack,245.450000,13,5,1,2007,3,32,214.471875,1
2,4742,1,3,0,1469,0,21,Midfield,155.695238,1,2,0,741,0,12,81.325000,1
3,5336,3,10,0,4233,2,52,Midfield,436.090385,0,6,0,2166,0,27,226.422222,1
4,7161,23,2,0,5017,20,64,Attack,527.739062,11,1,0,2764,8,37,292.820270,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3831,889438,0,0,0,40,0,3,Defender,5.633333,0,0,0,15,0,1,3.100000,1
3832,891379,0,1,0,121,1,8,Attack,14.612500,0,0,0,27,1,2,4.500000,1
3833,892054,2,0,0,312,2,9,Midfield,36.366667,2,0,0,309,1,7,36.564286,0
3834,917120,0,1,0,74,0,4,Defender,9.400000,0,1,0,74,0,4,9.400000,0
3835,919173,0,1,0,135,0,4,Defender,17.025000,0,0,0,3,0,1,0.700000,1

In [232]:
player_stats_4_years[player_stats_4_years['improved_performance']== 1].describe()

,player_id,total_goals_2022,total_yellow_cards_2022,total_red_cards_2022,total_minutes_played_2022,total_assists_2022,games_played_2022,performance_2022,total_goals_2020,total_yellow_cards_2020,total_red_cards_2020,total_minutes_played_2020,total_assists_2020,games_played_2020,performance_2020,improved_performance
count,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.0
mean,311493.115385,5.310897,7.192842,0.185096,3259.231036,4.156784,48.780716,338.171423,2.769498,3.644498,0.085737,1682.162927,2.165064,24.983974,177.530124,1.0
std,181430.453744,7.499793,5.040545,0.441843,1715.334748,4.894314,20.023850,175.182583,4.329535,3.085297,0.291237,1058.494295,2.882599,12.693357,108.785852,0.0
min,3333.000000,0.000000,0.000000,0.000000,10.000000,0.000000,2.000000,1.633333,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.300000,1.0
25%,167725.750000,1.000000,3.000000,0.000000,1959.500000,1.000000,34.000000,205.786290,0.000000,1.000000,0.000000,838.500000,0.000000,15.000000,91.330000,1.0
50%,293197.000000,3.000000,6.000000,0.000000,3128.500000,3.000000,49.000000,325.124028,1.000000,3.000000,0.000000,1583.500000,1.000000,25.000000,168.020606,1.0
75%,432090.500000,7.000000,10.000000,0.000000,4428.250000,6.000000,64.000000,457.053624,3.000000,5.000000,0.000000,2459.000000,3.000000,35.000000,256.951515,1.0
max,919173.000000,96.000000,37.000000,4.000000,8577.000000,51.000000,103.000000,889.908824,58.000000,19.000000,2.000000,4862.000000,32.000000,57.000000,497.940000,1.0

In [233]:
#players_df, players_years, player_stats_career, player_stats_cur_club, player_stats_4_years

merged_df = pd.merge(players_df, players_years, on='player_id', how='inner')

# Step 2: Merge the result with player_stats_career
merged_df = pd.merge(merged_df, player_stats_career.drop('position', axis=1), on='player_id', how='inner')

# Step 3: Merge the result with player_stats_cur_club
merged_df = pd.merge(merged_df, player_stats_cur_club, on='player_id', how='inner')

# Step 4: Finally, merge the result with player_stats_4_years
final_merged_df = pd.merge(merged_df, player_stats_4_years.drop('position', axis=1), on='player_id', how='inner')

# final_merged_df now contains the result of the inner join of all DataFrames
final_merged_df

,player_id,name,current_club_id,date_of_birth,position,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,last_season,year_of_birth,...,games_played_2022,performance_2022,total_goals_2020,total_yellow_cards_2020,total_red_cards_2020,total_minutes_played_2020,total_assists_2020,games_played_2020,performance_2020,improved_performance
0,18644,Álvaro Negredo,2687,1985-08-20,Attack,1200000.0,27000000.0,2023-06-30,2022,1985,...,73,447.663014,10,4,0,2215,3,40,234.587500,1
1,70114,Anton Zabolotnyi,2410,1991-06-13,Attack,1200000.0,2500000.0,2024-06-30,2022,1991,...,54,338.520370,12,6,0,2308,4,29,245.958621,1
2,68718,Yoann Touzghar,1147,1986-11-28,Attack,500000.0,1750000.0,2024-06-30,2022,1986,...,35,187.682857,2,0,0,989,0,15,107.593333,1
3,479019,Marokhy Ndione,1063,1999-11-04,Attack,300000.0,600000.0,2025-06-30,2022,1999,...,15,63.873333,4,0,0,220,0,6,27.466667,1
4,22328,Fabio Quagliarella,1038,1983-01-31,Attack,1000000.0,17500000.0,2023-06-30,2022,1983,...,69,358.560870,9,2,0,2393,4,39,252.935897,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3403,520073,Ruslan Litvinov,232,2001-08-18,Defender,2800000.0,2800000.0,2026-06-30,2022,2001,...,51,333.247059,1,6,0,1127,1,18,119.411111,1
3404,238752,Keita Baldé,232,1995-03-08,Attack,2000000.0,30000000.0,2025-06-30,2022,1995,...,48,251.775000,9,5,0,2012,3,36,213.588889,1
3405,464259,Aleksandr Sobolev,232,1997-03-07,Attack,9000000.0,11000000.0,2026-06-30,2022,1997,...,69,501.641304,17,16,1,2392,7,34,255.585294,1
3406,185024,Georgiy Dzhikiya,232,1993-11-21,Defender,8000000.0,10000000.0,2024-05-31,2022,1993,...,72,624.252778,1,8,0,3163,1,36,326.836111,1
3407,4742,Christophe Lepoint,2715,1984-10-24,Midfield,75000.0,1700000.0,2023-06-30,2022,1984,...,21,155.695238,1,2,0,741,0,12,81.325000,1

In [234]:
final_merged_df.columns

Index(['player_id', 'name', 'current_club_id', 'date_of_birth', 'position',
       'market_value_in_eur', 'highest_market_value_in_eur',
       'contract_expiration_date', 'last_season', 'year_of_birth', 'age',
       'year', 'total_goals', 'total_yellow_cards', 'total_red_cards',
       'total_minutes_played', 'total_assists', 'total_games_played',
       'performance_career', 'total_goals_cur_club',
       'total_yellow_cards_cur_club', 'total_red_cards_cur_club',
       'total_minutes_played_cur_club', 'total_assists_cur_club',
       'total_goals_2022', 'total_yellow_cards_2022', 'total_red_cards_2022',
       'total_minutes_played_2022', 'total_assists_2022', 'games_played_2022',
       'performance_2022', 'total_goals_2020', 'total_yellow_cards_2020',
       'total_red_cards_2020', 'total_minutes_played_2020',
       'total_assists_2020', 'games_played_2020', 'performance_2020',
       'improved_performance'],
      dtype='object')

In [235]:
final_merged_df['year']

0        9
1        6
2        5
3        2
4       10
        ..
3403     3
3404     9
3405     7
3406     8
3407    10
Name: year, Length: 3408, dtype: int64

In [236]:
# Define other weights and factors
EXPERIENCE_WEIGHT = 0.5
DECAY_2022 = 1.5
DECAY_2020 = 1.0
CAREER_WEIGHT = 0.5

# Function to calculate the overall performance score
def calculate_performance_score(row):
    experiece_factor = (row['year'] / row['age']) * EXPERIENCE_WEIGHT
    time_decay_factor = (row['performance_2022'] * DECAY_2022) + (row['performance_2020'] * DECAY_2020)
    #market_value_factor = (row['highest_market_value_in_eur'] - row['market_value_in_eur'])
    performance_factor = row['performance_career'] * CAREER_WEIGHT
    return experiece_factor + time_decay_factor + performance_factor

# Apply the performance score calculation
final_merged_df['raw_performance_score'] = final_merged_df.apply(calculate_performance_score, axis=1)

# Normalize the scores to a 0-50 scale
max_score = final_merged_df['raw_performance_score'].max()
final_merged_df['normalised_performance_score'] = (final_merged_df['raw_performance_score'] / max_score) * 50

In [237]:
final_merged_df['normalised_performance_score'].describe()

count    3408.000000
mean       16.905910
std         9.331942
min         0.052431
25%         9.892299
50%        15.852631
75%        22.847002
max        50.000000
Name: normalised_performance_score, dtype: float64

In [238]:
final_merged_df.to_csv(data_path + 'final_merged.csv')

In [240]:
from gurobipy import Model, GRB, quicksum
import pandas as pd

# Assuming you have a DataFrame 'final_merged_df' with necessary columns

# Constants
TEAMS = ['131']  # teams - 131 = barcelona
POSITIONS = final_merged_df['position'].unique()
BUDGET = {"131": 150000000}  # Example budgets for teams
NEEDS = {"131": {"Attack": 1, "Midfield": 1, "Defender":1}}  # Example team needs

# Initialize the Gurobi model
model = Model("FootballTeamOptimization")

# Decision variables: xij for each player i and team j
x = {}
for i in final_merged_df['player_id']:
    for j in TEAMS:
        x[(i, j)] = model.addVar(vtype=GRB.BINARY, name=f"x_{i}_{j}")

# Update model to integrate new variables
model.update()

# Objective function
obj = quicksum(final_merged_df.loc[final_merged_df['player_id'] == i, 'market_value_in_eur'].iloc[0] *
               final_merged_df.loc[final_merged_df['player_id'] == i, 'normalised_performance_score'].iloc[0] * x[(i, j)]
               for i in final_merged_df['player_id'] for j in TEAMS) - \
      quicksum(final_merged_df.loc[final_merged_df['player_id'] == i, 'market_value_in_eur'].iloc[0] * x[(i, j)]
               for i in final_merged_df['player_id'] for j in TEAMS)
model.setObjective(obj, GRB.MAXIMIZE)

# Constraints
for j in TEAMS:
    # Budget constraints
    model.addConstr(quicksum(final_merged_df.loc[final_merged_df['player_id'] == i, 'market_value_in_eur'].iloc[0] * x[(i, j)]
                             for i in final_merged_df['player_id']) <= BUDGET[j], name=f"Budget_{j}")

    # Team needs
    for k in POSITIONS:
        model.addConstr(quicksum(final_merged_df.loc[(final_merged_df['player_id'] == i) & (final_merged_df['position'] == k), 'normalised_performance_score'].iloc[0] * x[(i, j)]
                                 for i in final_merged_df['player_id'] if not final_merged_df[(final_merged_df['player_id'] == i) & (final_merged_df['position'] == k)].empty) >= NEEDS[j][k], name=f"Need_{j}_{k}")

# One team per player constraint
for i in final_merged_df['player_id']:
    model.addConstr(quicksum(x[(i, j)] for j in TEAMS) <= 1, name=f"OneTeam_{i}")

# Solve the model
model.optimize()

# if m.status == GRB.OPTIMAL:
#     print(f'Optimal cost: {m.objVal}')
# else:
#     print("Not solved to optimality. Optimization status:", m.status)


team_player_dict = {}
# for v in model.getVars():
#     if v.x > 0:
#         print(v.varName, "=", v.x)

for v in model.getVars():
    if v.x > 0:  # If the player is chosen in the solution
    
        print(v.varName, "=", v.x)
        # Extracting i and j from the variable name
        _, player_id, team_id = v.varName.split('_')

        team_id = int(team_id)
        player_id = int(player_id)

        # Check if the team is already in the dictionary
        if team_id in team_player_dict:
            # If yes, append the player to the existing team's list
            team_player_dict[team_id].append(player_id)
        else:
            # If not, create a new entry with the player in a new list
            team_player_dict[team_id] = [player_id]
       


# Example: Print selected player details
for player in team_player_dict.keys:
    print(player, values)

Gurobi Optimizer version 10.0.2 build v10.0.2rc0 (mac64[arm])

CPU model: Apple M1
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 3412 rows, 3408 columns and 10224 nonzeros
Model fingerprint: 0xf83a90a6
Variable types: 0 continuous, 3408 integer (3408 binary)
Coefficient statistics:
  Matrix range     [5e-02, 2e+08]
  Objective range  [1e+03, 7e+09]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+08]
Warning: Model contains large matrix coefficients
Warning: Model contains large objective coefficients
         Consider reformulating model or setting NumericFocus parameter
         to avoid numerical issues.
Found heuristic solution: objective 2.352801e+09
Presolve removed 3408 rows and 15 columns
Presolve time: 0.02s
Presolved: 4 rows, 3393 columns, 6786 nonzeros
Variable types: 0 continuous, 3393 integer (3393 binary)
Found heuristic solution: objective 3.432349e+09

Root relaxation: objective 7.302218e+09, 2 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 7.3022e+09    0    1 3.4323e+09 7.3022e+09   113%     -    0s
H    0     0                    6.982416e+09 7.3022e+09  4.58%     -    0s
H    0     0                    7.047860e+09 7.3022e+09  3.61%     -    0s
H    0     0                    7.246307e+09 7.3022e+09  0.77%     -    0s
H    0     0                    7.265593e+09 7.3022e+09  0.50%     -    0s
H    0     0                    7.270951e+09 7.2723e+09  0.02%     -    0s

Explored 1 nodes (2 simplex iterations) in 0.12 seconds (0.07 work units)
Thread count was 8 (of 8 available processors)

Solution count 7: 7.27095e+09 7.26559e+09 7.24631e+09 ... 2.3528e+09

Optimal solution found (tolerance 1.00e-04)
Best objective 7.270951332977e+09, best bound 7.270951332977e+09, gap 0.0000%
x_36139_131 = 1.0
x_38253_131 = 1.0
x_65230_131 = 1.0
x_15452_131 = 1.0
x_59561_131 = 1.0
x_148455_131 = 1.0
x_54781_131 = 1.0
131
      player_id  normalised_performance_score  market_value_in_eur
212       36139                     47.619493            7000000.0
1978      38253                     49.565018           45000000.0
2069      65230                     48.859354            5000000.0
2099      15452                     45.440993            3000000.0
2123      59561                     49.273872            7000000.0
2484     148455                     50.000000           80000000.0
2972      54781                     43.884069            3000000.0

In [244]:
from gurobipy import Model, GRB, quicksum
import pandas as pd

# Load and prepare data
data_path = '/Users/niharikapatil/Documents/Academics/Fall Semester 2023/DABP/Final Project/data/final_merged.csv'  # Replace with actual path
players_data = pd.read_csv(data_path)

# Define constants and parameters
team_var = '131'  # Example team
budget_var = 150000000
attack_needed = 1
defender_needed = 1
midfield_needed = 1
CATEGORY_BUDGETS = {"Attack": 60000000, "Midfield": 40000000}

# Initialize the model
model = Model("FootballTeamTransfersOptimization")

# Decision variables
x = {}
for i in players_data['player_id']:
    x[(i, team_var)] = model.addVar(vtype=GRB.BINARY, name=f"x_{i}_{team_var}")

# Objective function
obj = quicksum(players_data.loc[players_data['player_id'] == i, 'market_value_in_eur'].iloc[0] *
               players_data.loc[players_data['player_id'] == i, 'normalised_performance_score'].iloc[0] * x[(i, team_var)]
               for i in players_data['player_id'])
model.setObjective(obj, GRB.MAXIMIZE)

# Constraints
# Budget constraint
model.addConstr(quicksum(players_data.loc[players_data['player_id'] == i, 'market_value_in_eur'].iloc[0] * x[(i, team_var)]
                         for i in players_data['player_id']) <= budget_var, name="TotalBudget")

# Positional need constraints
for k in ["Attack", "Midfield", "Defender"]:
    model.addConstr(quicksum(x[(i, team_var)] for i in players_data[players_data['position'] == k]['player_id']) >= NEEDS[team_var][k], name=f"Need_{k}")

# Categorical budget constraints
for k in CATEGORY_BUDGETS.keys():
    model.addConstr(
        quicksum(players_data.loc[(players_data['player_id'] == i) & (players_data['position'] == k), 'market_value_in_eur'].iloc[0] * x[(i, team_var)]
                 for i in players_data[players_data['position'] == k]['player_id']) <= CATEGORY_BUDGETS[k],
        name=f"CategoricalBudget_{k}"
    )

# One team per player constraint
for i in players_data['player_id']:
    model.addConstr(quicksum(x[(i, j)] for j in TEAMS) <= 1, name=f"OneTeam_{i}")

# Solve the model
model.optimize()

# Output results
team_player_dict = {}
for v in model.getVars():
    if v.x > 0:  # If the player is chosen in the solution
        _, player_id, team_id = v.varName.split('_')
        team_id = int(team_id)
        player_id = int(player_id)
        team_player_dict.setdefault(team_id, []).append(player_id)

selected_players = pd.DataFrame

for team, players in team_player_dict.items():
    print("Team:", team)
    selected_players = players_data[players_data['player_id'].isin(players)]
    print(selected_players[['player_id', 'name', 'position', 'normalised_performance_score', 'market_value_in_eur']])

Gurobi Optimizer version 10.0.2 build v10.0.2rc0 (mac64[arm])

CPU model: Apple M1
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 3414 rows, 3408 columns and 12274 nonzeros
Model fingerprint: 0xd76491b4
Variable types: 0 continuous, 3408 integer (3408 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+08]
  Objective range  [1e+04, 7e+09]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+08]
Warning: Model contains large matrix coefficients
Warning: Model contains large objective coefficients
         Consider reformulating model or setting NumericFocus parameter
         to avoid numerical issues.
Found heuristic solution: objective 2.447470e+09
Presolve removed 3408 rows and 160 columns
Presolve time: 0.02s
Presolved: 6 rows, 3248 columns, 8386 nonzeros
Variable types: 0 continuous, 3248 integer (3248 binary)
Found heuristic solution: objective 3.665516e+09

Root relaxation: objective 7.151596e+09, 3 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 7.1516e+09    0    2 3.6655e+09 7.1516e+09  95.1%     -    0s
H    0     0                    6.673800e+09 7.1516e+09  7.16%     -    0s
H    0     0                    7.077600e+09 7.1516e+09  1.05%     -    0s
H    0     0                    7.114006e+09 7.1516e+09  0.53%     -    0s

Cutting planes:
  Cover: 1

Explored 1 nodes (3 simplex iterations) in 0.07 seconds (0.06 work units)
Thread count was 8 (of 8 available processors)

Solution count 5: 7.11401e+09 7.0776e+09 6.6738e+09 ... 2.44747e+09

Optimal solution found (tolerance 1.00e-04)
Best objective 7.114006105735e+09, best bound 7.114006105735e+09, gap 0.0000%
Team: 131
      player_id                name  position  normalised_performance_score  \
212       36139         Dusan Tadić    Attack                     47.619493
1594      57500   César Azpilicueta  Defender                     45.207796
1978      38253  Robert Lewandowski    Attack                     49.565018
2049      59016         David Alaba  Defender                     46.516746
2069      65230     Sergio Busquets  Midfield                     48.859354
2071      69751          Jordi Alba  Defender                     45.598414
2123      59561         Dani Parejo  Midfield                     49.273872
2205      74229                Koke  Midfield                     45.164138

      market_value_in_eur
212             7000000.0
1594            8000000.0
1978           45000000.0
2049           55000000.0
2069            5000000.0
2071            5000000.0
2123            7000000.0
2205           18000000.0